.nav-bar {
  background-color: grey;
  height: 100px;
  text-align: center;
  padding-top: 15px;
}

/* .main {
  text-align: center;
} */
.show-div {
  text-align: center;
  border: 1px solid black;
  padding 15px;
}

.episode-div {
  text-align: center;
  height: 400px;
  width: 23%;
  float: left;
  margin: 11px;
}
